
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 3px solid black;
    gap : 30rem;
    max-height: 60px;
}
img{
    max-width : 50px;
    max-height : 50px;
}
